.box-form-control {
  background-color: #f8f8f8;
  color: grey;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
}

input[type="text"] {
  padding: 6px 15px;
}

::placeholder {
  color: rgba(78, 75, 75, 0.201);
  padding: 1px;
}

.myInput {
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  height: 55px;
  color: grey;
  display: flex;
  align-items: center;
  padding: 20px 35px 20px 35px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
}
