.submenu {
    width: 15rem;
    position: absolute;
    list-style: none;
    text-align: start;
    left: 100px;
    z-index: 10;
}

.submenu li {
    background: red;
    cursor: pointer;
}

.submenu.clicked {
    display: none;
}

.subNav li:hover {
    background: rgb(143, 95, 100);
}

.subNav {
display: block;
width: 100%;
height: 100%;
text-decoration: none;
color: black;
padding: 16px;
}